.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 80px;
    padding: 0 40px;
    background-color: #111827;


}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size:15px;
    align-items: center;
    margin-left: auto;
}
.nav-menu a{
    text-decoration: none;
    color: #fff;
}

.nav-menu li.active {
  
  color: #a855f7;
  font-weight: 600;
  text-shadow: 0 0 15px #fff;
}
.nav-menu a:hover{
  color: #a855f7; /* purple highlight */
  transition: 0.3s;
  text-shadow: 0 0 15px #fff;

}
.logo{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.nav-connect:hover{
    transform: scale(1.05);
}